body {
  background-image: url('./images/background.png');
  color: white;
}

header {
  border: 2px black solid;
  text-align: center;
}

h2 {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px white solid;
  border-radius: 10px;
  text-align: center;
  text-shadow: 2px 2px 1px black;
}

ul {
  align-items: center;
  border: 1px white solid;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  padding: 10px;
  text-align: center;
}

.planet-card {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px white solid;
  border-radius: 10px;
  margin: 5px;
  text-shadow: 2px 2px 1px black;
}

.planet-image {
  width: 200px;
}

.mission-card {
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px white solid;
  border-radius: 10px;
  margin: 5px;
  padding: 10px;
  text-shadow: 2px 2px 1px black;
}
